.header{
    position:absolute;
    top:0;
    bottom:0;
    width:81vw;
    right:0;
    height:50px;
    border-bottom: 1px solid #E5E5E5;
      text-align: right;
} 
.search{
   
    position: absolute;

right: 18%;
top: 35%;

height: 13px;
    width: 13px; 
}
.search_bar{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding:10px;
}
.search_bar input{
    padding:4px;
}
.settings{
    padding-left:10px;
} 
